:root{
    --background-color: #c9bdb4;
    --font-color-menu: #4e2304;
    --background-color-menu: #AC8B70;
    --background-color-menu-hover: #927359;
    --background-color-footer: #AC8B70;
}

body{
    margin-top: 15px;
    background-color: var(--background-color);
    font-size: x-large;
}
#menu{
    width: 500px;
    margin: 0 auto;
    
}
#menu ul{ /*deixar um ao lado do outro e sem bolinha*/
    margin: 0;
    padding: 0;
    list-style: none;
}
#menu ul li{
    float: left;
    position: relative;
}
/*menu principal*/
#menu ul li a{
    display: inline-block;
    text-decoration: none;
    color:  var(--font-color-menu);
    background-color: var(--background-color-menu);
    padding: 7px 20px;
    margin-right: 5px;
    width: 120px;
    text-align: center;
    font-size: x-large;
}
/*submenu do menu principal*/
#menu ul li ul{
    display: none;
    position: absolute;
    padding-top: 7px;
}
/*itens do submenu que definem a largura deles e suas distancias entre si*/
#menu ul li ul li a{
    width: 150px;
    margin-top: 5px;
}
/*a cor que os itens do sub ficarão*/
#menu ul li ul li a:hover{
    background-color: var(--background-color-menu-hover);
}
/*mostra os itens*/
#menu li:hover ul{
    display: block;
}
#menu ul li a:hover{
    background-color: var(--background-color-menu-hover);
}
.texto{
    max-width: 70%;
    height: 600px;
    clear: both;
    padding: 1px 35px;
    margin: 0 auto;
}
.texto p{
    font-size: x-large;
    text-align: left;
    display: block;
    margin-top: 22%;
    min-width: 400px;
    max-width: 90%;
}
#logo{
    float: left;    
    height: 45%;
    padding: 2% 1%;
    margin-top: 20%;
}
footer{
    text-align: center;
    background-color: var(--background-color-footer);
    position: relative;
    clear: both;
    margin: 0 auto;
}